:root {
  --primary-text: #2a917b;
  --secondary-color: #d63747;
  --background-color: #252627;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif, 'Times New Roman', Times, serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 100px 100px 0;
}

nav ul,
.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background-color: var(--background-color);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar {
  background-color: #181818;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0 100px;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #707070;
}
.main-info-skills {
  margin: 2px;
  text-align: center;
}
li {
  list-style: none;
  margin-left: 30px;
}
.lgo a {
  font-size: 0.7em;
}
header a {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%);
}

header a:hover {
  transition: 0.3s;
  color: var(--primary-text);
}

.main-info-section {
  height: calc(100vh - 81.6px);
}

.text {
  margin-top: 120px;
}

.text h1 {
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}

.text-span {
  display: inline-block;
}

span:hover {
  color: #48cfad;
  transition: all 500ms;
}

span.name {
  color: var(--primary-text);
}
span.m-left {
  margin-left: -10px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-style: 0.8rem;
}

.text a {
  margin-left: 150px;
  padding: 12px 25px;
  background-color: none;
  border: 3px solid var(--primary-text);
  color: var(--primary-text);
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 500ms;
  display: inline-block;
}

.text a:hover {
  color: #fff;
}

.text a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: var(--primary-text);
  z-index: -1;
  transition: 500ms;
}

.text a:hover::before {
  height: 100%;
}

.profile-image img {
  width: 350px;
  margin-top: 10px;
  margin-right: 20px;
}

.about {
  height: 100vh;
  margin-top: 100px;
}

.about h1,
.work h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: 0.1;
}

.about-me-info {
  max-width: 900px;
  background-color: var(--background-color);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.about-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.about img {
  width: 360px;
  position: relative;
  top: -290px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));
  opacity: 0.8;
}

.skills {
  height: 100vh;
}

.skills h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: 0.1;
}
.skills-info {
  font-size: 1.4rem;
  color: #bebebe;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.html {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

div[class^='tag-'] {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  width: 120px;
  height: 30px;
  background-color: #1785a7;
  margin-right: 30px;
}

div[class^='tag-'] p {
  color: #fff;
  text-align: left;
  margin-left: 10px;
  font-size: 1.1rem;
  padding-top: 4px;
}
.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #48cfad;
  border-radius: 20px;
  margin-top: 8px;
}

div[class^='bar-'] {
  position: absolute;
  background-color: #48cfad;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-react {
  width: calc(0 - 6px);
}

/* -------WORK PART--------- */

.work-category button {
  text-transform: capitalize;
  border: 3px solid var(--primary-text);
  padding: 15px 30px;
  border-radius: 50px;
  color: var(--primary-text);
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: var(--background-color);
  outline: none;
  cursor: pointer;
}

div[class^='category-'] {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.work a {
  justify-self: center;
  position: relative;
  display: block;
}

.work-category .active {
  background-color: var(--primary-text);
}

.project-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.project-container img {
  width: 100%;
  height: 230px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.project-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-links a {
  display: block;
  width: 40%;
  text-align: center;
  color: var(--primary-text);
  font-size: 1.2em;
  text-decoration: none;
}

.project-links span {
  transform: translateX(1px);
  border-left: 1px solid var(--primary-text);
}

.github-icon i {
  padding-top: 2px;
  font-size: 1.3em;
}

.infoIcon {
  cursor: pointer;
}

.project-links a:hover,
.infoIcon:hover {
  transition: 0.3s;
  color: var(--secondary-color);
}

button.active {
  color: #fff;
}

div.hideCategory {
  display: none;
}

.showCategory {
  display: block;
}
/* ------------CONTACT PART-------- */
.contact {
  margin-top: 50px;
}

form input,
form textarea {
  display: block;
  width: 500px;
  padding: 20px;
  background-color: var(--background-color);
  border: 3px solid #707070;
  margin: 20px 0;
  outline: none;
  font-size: 1.2rem;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

form input:last-child {
  width: 150px;
  background-color: var(--primary-text);
  border: none;
  cursor: pointer;
}

.contact-me-info {
  max-width: 900px;
  background-color: var(--background-color);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.contact-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
  margin: 15px 0;
}

.contact-me-info span {
  margin-left: 20px;
  color: var(--primary-text);
}

.contact-me-info a {
  text-decoration: none;
  color: var(--primary-text);
}
footer hr {
  border: 2px solid #707070;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 1.2rem;
  padding: 30px 0;
}

/* MODAL */
.modal__backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.modal {
  z-index: 30;
  position: fixed;
  top: 60px;
  left: calc(50% - 300px);
  width: 600px;
  height: 600px;
  background: var(--background-color);
  color: var(--primary-text);
  border: 3px solid var(--primary-text);
  border-radius: 10px;
  padding: 5px;
}
.modal__close {
  display: none;
}
.modal__header {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
.modal__title {
  width: 50%;
  font-size: 1.6em;
}
.modal__header .project-links {
  width: 40%;
}
.modal__img {
  width: 100%;
}
.modal__desc {
  font-size: 1.2em;
  padding: 5px;
  margin: 10px 0 20px 0;
}

.hide {
  display: none;
  z-index: -1;

  animation: hide 0.25s;

  transform: scale(0);
}

.show {
  z-index: 30;
  animation: show 0.2s;

  transform: scale(1);
  display: block;
  transition: 500ms;
}

/* Animations */
@keyframes hide {
  from {
    z-index: 2;
    transform: scale(1);
    opacity: 1;
  }
  to {
    z-index: -1;
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

/* Responsivnes */

@media (max-width: 500px) {
  .container {
    padding: 20px 20px;
    width: 100%;
    margin: 0 auto;
  }
  .navbar {
    padding: 0 20px;
  }
  header {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  nav {
    width: 100%;
  }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  li {
    margin: 0;
  }
  .main-info-section {
    height: auto;
    margin-bottom: 50px;
  }
  .text {
    width: 100%;
  }
  .text h1 {
    font-size: 2.2em;
  }
  .profile-image {
    position: absolute;
    top: 110px;
    right: 5px;
  }
  .profile-image img {
    height: 100px;
    width: 100px;
  }

  .text a {
    margin: 0;
    margin-left: 25vw;
    top: 30px;
  }

  .about,
  .skills {
    margin-top: 0;
    margin-bottom: 50px;
    height: 700px;
  }
  .about h1,
  .work h1 {
    position: relative;
    font-size: 5rem;
    z-index: 2;
    opacity: 1;
    border-bottom: 1px solid gray;
    transform: translateY(10px);
  }
  .skills h1,
  .contact h1 {
    position: relative;
    font-size: 5rem;
    z-index: 2;
    opacity: 1;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
  }
  .about-me-info {
    top: 0px;
    padding: 20px;
  }
  .work-category {
    margin-top: 30px;
  }
  .work-category button {
    margin-bottom: 10px;
  }

  .contact-me-info {
    top: -10px;
  }

  /* Modal styles  */
  .modal__backdrop {
    display: none;
  }
  .modal {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .modal__header {
    flex-direction: column;
  }
  .modal__title {
    width: 100%;
    margin-bottom: 10px;
  }
  .modal__header .project-links {
    width: 100%;
  }
  .modal__close {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    display: block;
  }
  /* TODO: STYLE MODAL FOR MOBILE VIEW */
  /* .project-links .infoIcon {
    display: none;
  } */
}
